@import './src/styles/variables.scss';

.blog {


  .main {
    position: relative;

    .buttonBack,
    .buttonNext {
      border: none;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(23, 23, 23, 0.65);
      opacity: 0.9;
      transition: opacity, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

      &:disabled {
        background-color: rgba(23, 23, 23, 0.6);
        opacity: 0.6;

        &:hover {
          background-color: rgba(23, 23, 23, 0.6);
          opacity: 0.6;
        }
      }

      &:hover {
        background-color: rgba(23, 23, 23, 0.7);
        opacity: 1;
      }
    }

    .buttonBack {
      position: absolute;
      top: 140px;
      left: 5px;
    }

    .buttonNext {
      position: absolute;
      top: 140px;
      right: 20px;
    }
  }
}

.fullMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.25rem 2.075%;
}

@media only screen and (max-width: 767px) {
  .blog {
    .main {
      width: 100vw;
      margin-left: -4%;

      .buttonBack {
        top: 11.666rem;
        left: -1px;
      }

      .buttonNext {
        top: 11.666rem;
        right: 7px;
      }
    }

    .fullMain {
      width: auto;
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .blog {
    .buttonBack,
    .buttonNext {
      top: 11.666rem;
    }

    .fullMain {
      gap: 1.5rem 3%;
    }
  }
}
