.header {
  margin-top: 4.375rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;

  .title {
    margin-bottom: 1.558rem;
  }

  .introduction {
    width: 27.375rem;
    text-align: center;
  }
}