.header {
  margin-top: 4.375rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;

  .title {
    margin-bottom: 1.558rem;
  }

  .introduction {
    width: 27.375rem;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
 .header {
    .introduction {
      width: 28.375rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    .introduction {
      width: 37rem;
    }
  }
}