@import './src/styles/variables.scss';

.educationPreview {
  margin-top: 4.376rem;

  .wrapper {
    background-color: $white;
    padding: 2.8rem 2.43vw;
    border-radius: 2px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1.5px solid $light-bcg;
    padding-bottom: 1rem;
    margin-bottom: 1.75rem;

    .title {
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 1.75rem;
    }

    .header {
      .spec {
        display: flex;

        .occupation {
          color: $black;
          font-weight: 400;
          font-size: 0.9375rem;
          margin-right: 1.25rem;
        }

        .date {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.625rem;
          width: 7.7vw;
          height: 1.125rem;
          border-radius: 1px;
          background-color: $element;
          color: $white;
        }
      }
    }

    .main {
      width: 60%;
    }
  }

  .item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .educationPreview {
    .wrapper {
      background: none;
      padding-top: 0;
    }

    .item {
      background-color: $white;
      flex-direction: column;
      padding: 2rem;
      border-radius: 2px;

      .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .header {
        margin-bottom: 1.5rem;

        .spec {

          .occupation {
            font-size: 1.25rem;
            color: $paragraph;
          }

          .date {
            font-size: 0.833rem;
            width: 9.25rem;
            height: 1.5rem;
            border-radius: 1px;

          }
        }
      }

      .main {
        width: 100%;

        .description {
          text-align: justify;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .educationPreview {
    margin-top: 4.376rem;

    .item {
      .header {
        width: 30%;

        .spec {
          .date {
            width: 9.25rem;
              font-size: 0.833rem;
          }
        }
      }

      .main {
        width: 70%;
      }
    }
  }
}