@import './src/styles/variables.scss';

.workPreview {
  margin-top: 4.376rem;
  position: relative;

  .switch {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .workPreview {
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .workPreview {
    margin-bottom: 7rem;
  }
}
