@import './src/styles/variables';

.infoFixed, .infoAbsolute {
  width: 19.063rem;
  background-color: $white;
  padding: 5.55vh 2.81rem 2.775vh 2.5rem;

  .download {
    width: 100%;
    margin-top: 2.77vh;
    height: 40px;
    line-height: 1.5rem;

    svg{
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

.infoFixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

.infoAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}