@import './src/styles/variables';

.wrapper {
  margin-top: 5.7vh;
  margin-bottom: 22.2vh;
  display: flex;
  justify-content: center;

  .switcher {

    cursor: pointer;
  }

  .light {
    fill: #2B2B2B !important;
  }

  .dark {
    fill: #ffffff !important;
  }

}
