@import './src/styles/variables.scss';

.likes {
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  position: relative;

  span[aria-disabled='true']:active {
    pointer-events: none;
  }
}

.number {
  font-size: 110%;
}

.favoriteIcon {
  color: $paragraph;
}

.liked {
  color: $element;
}

@media only screen and (max-width: 767px) {
  .likes {
    font-size: 1.25rem;
    align-items: end;

    .favoriteIcon,
    .liked {
      font-size: 1.75rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .likes {
    font-size: 1.25rem;
    align-items: end;

    .favoriteIcon,
    .liked {
      font-size: 1.75rem;
    }
  }
}
