@import './src/styles/variables.scss';

.postPage {
  padding-top: 3.125rem;

  .postTitle {
    margin-bottom: 1.25rem;
  }

  .info {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;

    .author {
      display: flex;
      padding-right: 1.3rem;
      position: relative;
      margin-right: 1.3rem;
      align-items: stretch;

      &:after {
        content: ' ';
        position: absolute;
        top: 0.625rem;
        right: 0;
        bottom: 0.625rem;
        width: 1px;
        background-color: $skeleton;
      }
    }

    .authorImg {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      background-color: $skeleton;
      margin-right: 1.125rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
    }

    .authorData {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .name {
      font-size: 0.875rem;
      font-weight: 500;
    }

    .date {
      font-size: 0.875rem;
      color: $paragraph;
    }

    .share {
      display: flex;
      align-items: center;
    }
  }

  .actionGroup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.6rem;
  }

  .buttonGroup {
    display: flex;
    column-gap: 3rem;
  }

  .buttonPostAction {
    width: 6rem;
  }

  .postContent {
    margin-bottom: 3.125rem;

    .mainImg {
      width: 100%;
      height: 34.5rem;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

  .youLike {
    margin-bottom: 2rem;
  }

  .recommendList {
    display: flex;
    //column-gap: 1.25rem;
    border-bottom: 1.5px solid $skeleton;
    padding-bottom: 3.125rem;
    margin-bottom: 3.125rem;
    justify-content: space-between;

    .card {
      border-radius: 2px;
      height: 18.75rem;
      width: 32%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      background-size: cover;
    }

    .actionArea {
      height: 100%;
      position: relative;

      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      }
    }

    .media {
      height: 100%;
    }

    .content {
      position: absolute;
      bottom: 0;
      padding: 1.3rem 1rem;
      color: #ffffff;
      z-index: 1;
      width: 100%;
    }

    .title {
      text-transform: capitalize;
      color: #ffffff;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .data {
      display: flex;
      justify-content: space-around;
    }

    .type {
      display: flex;
      align-items: end;
      column-gap: 0.3rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .postPage {
    .info {
      .name {
        font-size: 1.1rem;
      }

      .author {
        padding-right: 0.3rem;
        margin-right: 0.3rem;
      }

      .date {
        font-size: 1rem;
      }

      .authorImg {
        align-self: center;
      }

      .shareList {
        margin-left: 0.5rem;
        column-gap: 0.6rem;
      }

      .share {
        font-size: 1.1rem;
      }
    }

    .buttonGroup {
      display: flex;
      column-gap: 1rem;
    }

    .buttonPostAction {
      width: 4rem;
      min-width: 2rem;
      font-size: 0.7rem;
    }

    .postContent {
      .mainImg {
        height: 25rem;
      }
    }

    .youLike {
      font-size: 2rem;
    }

    .recommendList {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;

      .card {
        height: 25rem;
        width: 100%;
      }

      .content {
        padding: 1.3rem 2rem;
      }

      .title {
        font-size: 2rem;
      }

      .type {
        font-size: 1.25rem;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .postPage {
    .info {
      .name {
        font-size: 1.5rem;
      }

      .date {
        font-size: 1.25rem;
      }

      .authorImg {
        width: 4.166rem;
        height: 4.166rem;
      }

      .share {
        font-size: 1.25rem;
      }
    }

    .recommendList {
      .type {
        font-size: 0.833rem;
      }
    }
  }
}
