$element: #ffb400;
$project: rgba(255, 180, 0, 0.95);
$paragraph: #767676;
$available: #7EB942;


$main-text: var(--main-text);
$background: var(--background);
$select-bcg: var(--select-bcg);
$text: var(--text);
$scrollbar-thumb: var(--scrollbar-thumb);
$scrollbar-thumb-hover: var(--scrollbar-thumb-hover);
$nav-bcg-btn: var(--nav-bcg-btn);
$nav-bcg-svg: var(--nav-bcg-svg);
$substrate: var(--substrate);
$substrate2: var(--substrate2);
$skeleton: var(--skeleton);
$tooltip: var(--tooltip);
$service-page-bcg: var(--service-page-bcg);
$service-page-color: var(--service-page-color);
$bcg-redirect-btn: var(--bcg-redirect-btn);
$bcg-service-idea: var(--bcg-service-idea);
$bcg-search-input: var(--bcg-search-input);
$bcg-filter: var(--bcg-filter);
