$element: #ffb400;
$icon: rgba(255, 180, 0, 0.95);
$black: #2B2B2B;
$dark-bcg: #18191A;
$dark-bcg2: #3A3B3C;
$black2: #242526;
$paragraph: #767676;
$light-bcg: #f0f0f6;
$light-bcg2: #e4e6eb;
$white: #FFFFFF;