@import './src/styles/variables';

.servicePage {
  width: 100%;
  padding-top: 3.125rem;

  .header {
    margin-bottom: 4.375rem;

    .serviceTitle {
      margin-bottom: 1.1rem;
      text-transform: capitalize;
    }

    .breadcrumbs {
      margin-bottom: 0.6rem;

      .MuiBreadcrumbs-separator {
        color: $paragraph;
      }
    }

    .currentService {
      text-transform: capitalize;
    }

    .previewImg {
      width: 100%;
      height: 28.125rem;
      background: url("../../../../assets/img/service-page.webp") no-repeat, $service-page-bcg;
      background-size: contain;
      padding: 10rem 0 0 30rem;
    }

    .stack {
      font-family: 'Nunito Sans', sans-serif;
      text-transform: capitalize;
      color: $service-page-color;
      width: max-content;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      flex-direction: column;
    }

    //.first {
    //  width: 110%;
    //}

    .second {
      align-self: flex-end;
    }

    .iconWrapper {
      font-size: 3rem;
      position: absolute;
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;

    }

    .link:hover {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: $element;
    }

    //    .previewImg:hover .iconWrapper {
    //  transition: all 0.5s ease-in-out;
    //  transform: rotate(360deg);
    //}


  }

  .main {
    .projectsTitle {
      text-transform: capitalize;
      margin-bottom: 3.125rem;
      width: 77.6%;
    }

    .firstArticle, .secondArticle {
      margin-bottom: 3rem;
      min-height: 23.8125rem;
    }


    .firstArticleImage, .secondArticleImage {
      width: 56.2%;
      height: 23.8125rem;
      object-fit: cover;
      float: right;
    }

    .secondArticleImage {
      float: left;
      width: 38.55%;
    }

    .text {
      margin-bottom: 3rem;
    }
  }
}