@import './src/styles/variables';

.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $background;
  height: 100vh;
  width: 7.5%;
  max-width: $max-nav-width;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loginButton {
    margin-top: 1rem;
    min-width: auto;
  }
}

.tabs{
  width: 100%;
}

.iconWrapper {
  width: 2.25rem;
  height: 2.25rem;
  background-color: $nav-bcg-svg;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $nav-bcg-btn;

    svg {
      fill: $nav-bcg-svg;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .nav {
    position: initial;
    width: 5.0625rem;

    .loginButton {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      justify-content: center;
      display: flex;
      font-size: 0.75rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
}
