@import './src/styles/variables.scss';

.contact {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .title {
    margin-top: 4.375rem;
    margin-bottom: 3.125rem;
    text-transform: capitalize;
  }

  .info {
    padding: 1.56rem;
    border-radius: 2px !important;

    .input {
      margin-bottom: 1.56rem;

      label {
        font-weight: 500;
        color: $paragraph;
      }
    }
  }

  .leaveInfo {
    width: 58.76%;
  }

  .contactInfo {
    width: 38.14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    .cardList {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card {
        border-radius: 2px;
        height: 32%;
        padding: 1.5625rem 1.5625rem 1rem 1.5625rem;
        display: flex;
        flex-direction: column;

        .header {
          display: flex;
          justify-content: center;
          margin-bottom: 1.9375rem;

          .iconWrapper {
            background-color: $element;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .main {
          flex: 1;
        }

        .infoList {
          color: $paragraph;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .item {
            list-style: none;
            display: flex;
            justify-content: space-between;

            .itemTitle {
              font-weight: 500;
            }

            .value {
              transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              &:hover {
                color: $element;
              }

            }
          }
        }
      }
    }
  }
}