@import './src/styles/variables.scss';

.portfolio {
  .tabs {
    width: 62.5%;
    margin-right: auto;
    margin-left: auto;
  }

  .tabPanel {
    .projectList {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;

      .project {
        list-style: none;
        width: 31.96%;
        height: 18.75rem;
      }
    }
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: $skeleton;

    .imageWrapper {
      position: relative;
      height: 100%;

      &:hover {
        .redirect {
          opacity: 1;
          border: 1px solid rgba(255, 180, 0, 0.95);
        }

        .buttonGroup {
          margin-top: 0;
        }
      }
    }

    .previewImg {
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    .redirect {
      opacity: 0;
      transition: opacity 0.2s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(8px);
      border-radius: 2px;
    }

    .buttonGroup {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      margin-top: 10rem;
      transition: margin-top 0.2s linear;
    }

    .linkDemo{
      background-color: rgba(55, 55, 0, 0.8)
    }

    .linkRepo{
      background-color: rgba(55, 0, 0, 0.8)
    }

    .website {
      background-color: $bcg-redirect-btn;
      color: white;
      font-weight: 500;
      width: 8rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .portfolio {
    .tabs {
      width: 100%;

      button[class*='MuiTab-root'] {
        border-right: 1px solid $paragraph !important;
        border-radius: 0 !important;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        font-size: 1.1rem;

        &:last-child {
          border-right: none !important;
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .tabPanel {
      .projectList {
        .project {
          width: 100%;
          height: 25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio {
    .tabs {
      width: 65%;
    }

    .tabPanel {
      .projectList {
        gap: 2rem;

        .project {
          width: 30.95%;
          height: 16.667rem;
        }
      }
    }
  }
}
