@import './src/styles/variables.scss';

.portfolio {
  margin-top: 7.78vh;

  .tabs {
    width: 62.5%;
    margin-right: auto;
    margin-left: auto;
  }

  .tabPanel {
    .projectList {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
      .project {
        list-style: none;
        width: 19.375rem;
        height: 18.75rem;
        background-color: $dark-bcg2;
      }
    }
  }
}