@import './src/styles/variables';

.skills {
  margin-top: 1.5625rem;
  width: 100%;
  padding-bottom: 1.5625rem;
  border-bottom: 1.5px solid $light-bcg;

  .header {
    padding-bottom: 1rem;

    .title {
      font-weight: 500;
      line-height: 123.6%;
    }
  }

  .body {
    .skillsList {
      max-height: 160px;
      min-height: 140px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 6px;
      width: 102%;
    }

    .skill {
      list-style-type: none;
      color: $paragraph;
      margin-bottom: 0.75rem;

      .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.45rem;
      }

      .extra {
         display: flex;
        justify-content: flex-start;
        .extraSkill {
          color: transparent;
        }
      }

      .progress {
        width: 100%;
        height: 4px;
        padding: 2px;
        border: 1px solid $element;
        transform: scaleY(0.5); /* scale down the line */
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-sizing: content-box;


        .size {
          height: 3px;
          background-color: $element;
          border-radius: 30px;
        }
      }
    }

  }
}