@import './src/styles/variables';

.breadcrumbs {
  margin-bottom: 0.6rem !important;

  .MuiBreadcrumbs-separator {
    color: $paragraph;
  }
}

.link:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $element;
}

.currentService {
  text-transform: capitalize;
  word-spacing: -0.25rem;
}
