@import './src/styles/variables.scss';

.comment {
  display: flex;
  list-style: none;
  column-gap: 1.25rem;

  .message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    column-gap: 0.35rem;
    position: relative;
  }

  form[class*='commentArea'] + .actions {
    margin-bottom: 1.25rem;
    margin-top: -2rem;
  }

  .shareIcon {
    cursor: pointer;
    color: $paragraph;
  }

  .owner {
    display: flex;
    column-gap: 1.125rem;
    align-items: baseline;
    justify-content: space-between;
  }

  .ownerName {
    color: $element;
    font-weight: 500;
    position: relative;
  }

  .commentDate {
    font-size: 80%;
  }

  .nestedComments {
    padding-left: 0.5rem;
    flex-grow: 1;
    padding-top: 0.25rem;
  }

  .nestedCommentsStack {
    display: flex;
    flex-direction: column;

    .ownerName {
      font-size: 80%;
    }

    .comment {
      column-gap: 0.5rem;
    }
  }

  .collapseLine {
    border: none;
    padding: 0;
    width: 0.75rem;
    position: absolute;
    cursor: pointer;
    outline: none;
    display: block;
    top: 0;
    bottom: 0;
    background: none;
    transform: translateX(-50%);

    &:before {
      content: '';
      background-color: $paragraph;
      position: absolute;
      width: 1px;
      display: block;
      top: 0;
      bottom: 0;
      left: 50%;
      transition: background-color 50ms ease-in-out;
    }
  }

  .collapseLine:hover::before,
  .collapseLine:focus-visible:before {
    background-color: $element;
  }
}

@media only screen and (max-width: 767px) {
  .comment {
    flex-direction: column;
    position: relative;

    .actions {
      font-size: 1.25rem;
      align-items: end;
    }

    .shareIcon {
      font-size: 1.75rem;
    }

    .owner {
      flex-direction: column;
      position: absolute;
      left: 5rem;
      top: 0;
    }

    .ownerName {
      font-size: 1.25rem;

      &:after {
        display: none;
      }
    }

    .commentDate {
      p {
        font-size: 1rem;
      }
    }

    .commentMessage {
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .comment {
    .actions {
      font-size: 1.25rem;
      align-items: end;
    }

    .commentDate {
      font-size: 1rem;
    }

    .shareIcon {
      font-size: 1.75rem;
    }
  }
}
