@import './src/styles/variables.scss';

.item {
  list-style-type: none;
  width: 31.95%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 2px;
  padding: 3.375rem 2.15vw 1.559rem 2.15vw;
  position: relative;
  background-color: $background;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;

  .title {
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  .charge {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5625rem;

    .hour {
      margin-left: 0.7vw;
      color: $main-text;
    }
  }

  .popular {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $element;
    width: 100%;
    height: 1.875rem;
  }

  .description {
    text-align: center;
  }
}

.main {
  margin-bottom: 1.25rem;

  .duty {
    display: flex;
    height: 2.385rem;
    list-style-type: none;

    .active {
      color: $main-text;
    }

    .check {
      fill: $element;
      margin-right: 1.05vw;
    }

    .close {
      fill: $paragraph;
      margin-right: 1.05vw;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;

  .order {
    width: 11.74vw;
    height: 2.375rem;
    border-radius: 30px !important;
    font-weight: 700;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    padding: 3.375rem 1.667rem 1.559rem 1.667rem;
  }

  .header {
    .title {
      font-size: 2rem;
    }

    .numbers {
      font-size: 2.667rem;
    }

    .charge {
      .hour {
        font-size: 1.25rem;
      }
    }

    .description {
      width: 90%;
    }
  }

  .main {
    align-self: flex-start;

    .duty {
      height: 3.5rem;

      .close,
      .check {
        font-size: 1.7rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  .footer {
    .order {
      width: 14.083rem;
      height: 3.166rem;
      border-radius: 30px !important;
      font-size: 1.167rem;
    }
  }

  .item {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    .duty {
      height: 3rem;

      p {
        font-size: 1rem;
      }
    }
  }

  .footer {
    .order {
      width: 14.083rem;
      height: 3.166rem;
      border-radius: 30px !important;
      font-size: 1.167rem;
    }
  }
}
