@import './src/styles/variables.scss';

.workPreview {
  margin-top: 7.78vh;

  .switch {
    float: right;
  }

  .stepper {
    .label {
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .place {
      font-weight: 400;
      color: $paragraph;
      text-transform: capitalize;
      font-size: 0.875rem;
      align-items: center;
    }

    .spec {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 10.5vw;
      .occupation{
        color: $black;
        font-weight: 400;
        font-size: 0.9375rem;
      }

      .date{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.625rem;
        color: $black;
        background-color: $light-bcg;
        width: 7.7vw;
        height: 2vh;
        border-radius: 1px;
        transition: color, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }
    }
  }
}