@import './src/styles/variables.scss';

.commentSection {
  .header {
    width: 100%;
    margin-bottom: 3.125rem;

    .line {
      border-bottom: 2px solid $bcg-filter;
      width: 100%;
    }

    .count {
      width: max-content;
      padding-bottom: 0.5625rem;
      border-bottom: 2px solid $element;
      margin-bottom: -2px;
      position: relative;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      padding-top: 0.875rem;
      align-items: center;
    }

    .review {
      display: flex;
      column-gap: 1rem;
      align-items: center;
    }


    .share {
      display: flex;
      align-items: center;
      column-gap: 0.35rem;
    }
  }

  .likes {
    display: flex;
    align-items: center;
    column-gap: 0.35rem;
    position: relative;
  }

  .favoriteIcon, .shareIcon {
    cursor: pointer;
    color: $paragraph;
  }

  .main {
    .commentArea {
      display: flex;
      align-items: center;
      column-gap: 1.25rem;
      margin-bottom: 1.5rem;
    }

    .userImage {
      width: 5.7rem;
      height: 5.7rem;
      border-radius: 0.625rem;
      background-color: $skeleton;
    }

    .comments {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    .comment {
      display: flex;
      list-style: none;
      column-gap: 1.25rem;
    }

    .owner {
      display: flex;
      column-gap: 1.125rem;
      align-items: flex-end;
      margin-bottom: 0.5rem;
    }

    .ownerName {
      color: $element;
      font-weight: 500;
      position: relative;


      &:after {
        content: '';
        position: absolute;
        right: -0.7rem;
        top: 50%;
        height: 0.25rem;
        width: 0.25rem;
        border-radius: 50%;
        background-color: $paragraph;

      }
    }

    .commentMessage {

    }

  }
}