@import './src/styles/variables.scss';

.select {
  position: relative;

  .item {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      border-top: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      cursor: pointer;
    }
  }

  .selectButton {
    text-transform: none;
    background: none;
    white-space: nowrap;

    p {
      color: $main-text;
    }

    &:hover {
      background: none;
    }
  }

  .itemButton {
    background: none;
    color: inherit;
    width: 100%;
    height: 2rem;
    padding: 0 1.25rem 0 1rem;
    text-transform: none;
    justify-content: flex-start;

    p {
      color: #fff;
    }
  }

  .item:first-child {
    .itemButton {
      margin-top: 1px;
    }
  }

  .item:last-child {
    &:after {
      display: none;
    }
  }

  .buttonArrow {
    color: $main-text;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .arrowUp {
    transform: rotate(-180deg);
  }

  .menu {
    position: absolute;
    background: $select-bcg;
    width: max-content;
    right: -0.25rem;
    top: calc(100% + 0.7rem);
    border: 1px solid rgba(255, 180, 0, 0.5);
    box-shadow: 0 7px 8px -3px rgba(0, 0, 0, 0.4), 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
      0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
}
