@import './src/styles/variables';

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      margin-top: 1.9375rem;
      margin-bottom: 1rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  .socialMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.5625rem;
    margin-top: 0.9375rem;
    border-bottom: 1.5px solid $substrate2;
  }

  .iconWrapper {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $element;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      font-size: 1rem;
    }

    &:hover {
      svg {
        fill: $main-text;
      }
    }
  }

  .footer {
    width: 100%;
    margin-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    border-bottom: 1.5px solid $substrate2;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: $main-text;

    .info {
      margin-bottom: 0.625rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .property {
        padding: 0 0.3125rem;
        box-sizing: border-box;
        background-color: $element;
      }

      .available {
        color: $available;
      }
    }

  }
}