@import './src/styles/variables.scss';

.postPageFooter {
  .header {
    width: 100%;
    margin-bottom: 3.125rem;

    .line {
      background: linear-gradient(0deg, rgba(248, 248, 242, 1) 5%, rgba(255, 255, 255, 0) 5%);
      width: 100%;
    }

    .count {
      width: max-content;
      position: relative;
      z-index: 1;
      padding-right: 0.25rem;
      background: linear-gradient(0deg, $element 5%, rgba(255, 255, 255, 0) 5%);
    }

    .actions {
      display: flex;
      justify-content: space-between;
      padding-top: 0.875rem;
      align-items: center;
    }

    .review {
      display: flex;
      column-gap: 1rem;
      align-items: center;
    }

    .share {
      display: flex;
      align-items: center;
      column-gap: 0.35rem;
    }
  }

  .shareIcon {
    cursor: pointer;
    color: $paragraph;

    &:hover {
      color: #b9b7b7;
    }
  }
}

@media only screen and (max-width: 767px) {
  .postPageFooter {
    .header {
      margin-bottom: 1.5rem;

      .actions {
        padding-top: 0.5rem;
      }

      .review {
        column-gap: 1.5rem;
      }
    }

    .shareIcon {
      font-size: 1.75rem;
    }

    .main {
      flex-direction: column;

      .userImage {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .postPageFooter {
    .header {
      margin-bottom: 2rem;

      .actions {
        padding-top: 0.5rem;
      }

      .review {
        column-gap: 1.5rem;
      }
    }

    .shareIcon {
      font-size: 1.75rem;
    }

    .main {
      .comments {
        gap: 2rem;
      }
    }
  }
}
