.container {
  width: 100%;
  max-width: 360px;

  .list,
  .item {
    padding: 0;
  }

  .item {
    .itemText {
      p {
        font-size: 0.75rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .itemAvatar {
    width: 20px;
    height: 20px;
    min-width: 25px;

    .avatar {
      width: 20px;
      height: 20px;
    }

    .icon {
      font-size: 15px;
    }
  }
}
