@import './src/styles/variables.scss';

.addPost {
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .buttonGroup {
    display: flex;
    justify-content: space-between;
    column-gap: 50%;
  }
}

.quill {
  div[class*='ql-containe'] {
    height: 29.5rem;
  }
}
