@import './src/styles/variables.scss';

.portfolio {
  .tabs {
    width: 62.5%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio {
    .tabs {
      width: 100%;

      button[class*='MuiTab-root'] {
        border-right: 1px solid $paragraph !important;
        border-radius: 0 !important;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        font-size: 1.1rem;

        &:last-child {
          border-right: none !important;
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio {
    .tabs {
      width: 65%;
    }
  }
}
