@import './src/styles/variables.scss';

.services {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      list-style-type: none;
      width: 32%;
      height: 14.1rem;
      margin-bottom: 1.2375rem
    }

    .card {
      height: 100%;
      width: 100%;
      border-radius: 2px;
      padding: 1.75rem 1.75vw;
      background-color: $background;
      transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;

      .cardHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .icon {
          fill: $element;
          width: 4.625rem;
          height: 4.625rem;
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: inherit;
        position: relative;
        transition: margin-top 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


        .name {
          margin-top: 1.63rem;
          font-weight: 500;
          margin-bottom: 1.37rem;
          color: $main-text;
        }

        .description {
          text-align: center;
          margin-bottom: 0.5625rem;
          margin-top: 2rem;
          transition: margin-top 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .order {
          font-weight: 700;
          font-size: 0.75rem;

          .arrow {
            height: 0.5rem;
            margin-left: -10px;
          }
        }
      }

      &:hover {
        .main {
          margin-top: -6.24rem;
        }

        .description {
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .services {
    .list {
      .item {
        width: 100%;
        height: 24.167rem;
        margin-bottom: 1.4rem
      }

      .card {
        padding: 4rem 2rem;

        .cardHeader {
          .icon {
            width: 9rem;
            height: 9rem;
          }
        }

        .main {
          .name {
            font-size: 1.5rem;
          }

          .description {
            margin-top: 5rem;
          }

          .order {
            font-size: 1rem;

            .arrow {
              height: 0.75rem;
            }
          }
        }

        &:hover {
          .main {
            margin-top: -9.24rem;
          }

          .description {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .services {
    .list {
      .item {
        width: 48.5%;
        height: 18rem;
        margin-bottom: 1.4rem
      }

      .card {
        .cardHeader {
          .icon {
            width: 7rem;
            height: 7rem;
          }
        }

        .main {
          .name {
            font-size: 1.5rem;
          }

          .description {
            margin-bottom: 0.5625rem;
            margin-top: 3rem;
          }

          .order {
            font-size: 1rem;

            .arrow {
              height: 0.75rem;
            }
          }
        }

        &:hover {
          .main {
            margin-top: -7.24rem;
          }

          .description {
            margin-top: 0;
          }
        }
      }
    }
  }
}