@import './src/styles/variables.scss';

.contact {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .title {
    margin-top: 4.375rem;
    margin-bottom: 3.125rem;
    text-transform: capitalize;
  }

  .info {
    padding: 1.56rem;
    border-radius: 2px !important;
    background-color: $background;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;

    .input {
      margin-bottom: 1.56rem;
    }
  }

  .leaveInfo {
    width: 58.76%;
  }

  .contactInfo {
    width: 38.14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cardList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    flex-wrap: wrap;

    .leaveInfo {
      width: 100%;
    }

    .contactInfo {
      width: 100%;
    }

    .send {
      font-size: 1.167rem;
      font-weight: 600;
    }
  }
}
